In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\new\appdata\local\programs\python\python313\lib\site-packages (1.1.1)

In [3]:
import pymysql
#Connect with Database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='admin',
    database='pw'
)
#Execute SQL Query
cursor= connection.cursor();
cursor.execute("select * from employees")
results= cursor.fetchall()
for row in results:
    print(row)
#connection close
connection.close()

(1, 'Alice', 'Sales', Decimal('500.00'))
(2, 'Bob', 'Sales', Decimal('700.00'))
(3, 'Charlie', 'HR', Decimal('200.00'))
(4, 'David', 'HR', Decimal('300.00'))
(5, 'Eve', 'Sales', Decimal('600.00'))
(6, 'Sonam', 'HR', Decimal('300.00'))
(7, 'Jack', 'Sales', Decimal('600.00'))

In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\new\appdata\local\programs\python\python313\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\new\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)

In [16]:
from sqlalchemy import create_engine, text
username='root'
password='admin'
database='pw'
host='localhost'
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')
#execute q query
connection= engine.connect()
result = connection.execute(text("select * from employees"))
for row in result:
    print(row)
connection.close()

(1, 'Alice', 'Sales', Decimal('500.00'))
(2, 'Bob', 'Sales', Decimal('700.00'))
(3, 'Charlie', 'HR', Decimal('200.00'))
(4, 'David', 'HR', Decimal('300.00'))
(5, 'Eve', 'Sales', Decimal('600.00'))
(6, 'Sonam', 'HR', Decimal('300.00'))
(7, 'Jack', 'Sales', Decimal('600.00'))

In [18]:
from sqlalchemy import text

# Insert data into a table using a raw SQL query with text()
insert_query = text("""
    INSERT INTO employees (name, department, sales_amount)
    VALUES (:name, :department, :sales_amount)
""")

# Parameters to be inserted
params = {
    'name': 'Ferry',
    'department': 'Sales',
    'sales_amount': 800
}

# Execute the query
connection= engine.connect()
connection.execute(insert_query, params)

In [22]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import declarative_base, sessionmaker

# Step 1: Set up the connection string and engine for MySQL
engine = create_engine('mysql+pymysql://root:admin@localhost/testpw', echo=True)

# Step 2: Define the Base class for the ORM
Base = declarative_base()

# Step 3: Define the ORM model (mapping to the table)
class Employee(Base):
    __tablename__ = 'employees'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(50), nullable=False)
    department = Column(String(50), nullable=False)
    sales_amount = Column(Float, nullable=False)

# Step 4: Create the tables in the database (if not exists)
Base.metadata.create_all(engine)

# Step 5: Create a session factory bound to the engine
Session = sessionmaker(bind=engine)

# Step 6: Inserting records using the new SQLAlchemy session context management
with Session() as session:
    # Create new employee objects (records)
    employee_1 = Employee(name='John Doe', department='Sales', sales_amount=1000.50)
    employee_2 = Employee(name='Jane Smith', department='Marketing', sales_amount=1500.75)

    # Add the new employee records to the session
    session.add_all([employee_1, employee_2])

    # Commit the transaction (this inserts the records)
    session.commit()

    print("Records have been inserted.")

# Step 7: Querying the database using ORM
with Session() as session:
    employees = session.query(Employee).all()  # Fetch all employees

    # Display the fetched data
    for employee in employees:
        print(f"ID: {employee.id}, Name: {employee.name}, Department: {employee.department}, Sales: {employee.sales_amount}")

2024-10-18 15:44:20,254 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-10-18 15:44:20,256 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 15:44:20,265 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-10-18 15:44:20,268 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 15:44:20,274 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-10-18 15:44:20,277 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 15:44:20,284 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 15:44:20,289 INFO sqlalchemy.engine.Engine DESCRIBE `testpw`.`employees`
2024-10-18 15:44:20,292 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 15:44:20,315 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50) NOT NULL,
	department VARCHAR(50) NOT NULL,
	sales_amount FLOAT NOT NULL,
	PRIMARY KEY (id)
)


2024-10-18 15:44:20,321 INFO sqlalchemy.engine.Engine [no key 0.00614s] {}
2024-10-18 15:44:20,392 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 15:44:20,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 15:44:20,408 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, department, sales_amount) VALUES (%(name)s, %(department)s, %(sales_amount)s)
2024-10-18 15:44:20,410 INFO sqlalchemy.engine.Engine [generated in 0.00234s] {'name': 'John Doe', 'department': 'Sales', 'sales_amount': 1000.5}
2024-10-18 15:44:20,426 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, department, sales_amount) VALUES (%(name)s, %(department)s, %(sales_amount)s)
2024-10-18 15:44:20,428 INFO sqlalchemy.engine.Engine [cached since 0.02064s ago] {'name': 'Jane Smith', 'department': 'Marketing', 'sales_amount': 1500.75}
2024-10-18 15:44:20,433 INFO sqlalchemy.engine.Engine COMMIT
Records have been inserted.
2024-10-18 15:44:20,442 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 15:44:20,450 INFO sqlalchemy.engine.Engine SELECT employees.id AS employees_id, employees.name AS employees_name, employees.department AS employees_department, employees.sales_amount AS employees_sales_amount
FROM employees
2024-10-18 15:44:20,453 INFO sqlalchemy.engine.Engine [generated in 0.00262s] {}
ID: 1, Name: John Doe, Department: Sales, Sales: 1000.5
ID: 2, Name: Jane Smith, Department: Marketing, Sales: 1500.75
2024-10-18 15:44:20,459 INFO sqlalchemy.engine.Engine ROLLBACK