In [23]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import declarative_base, sessionmaker

In [28]:
DATABASE_URL='mysql+pymysql://root:admin@localhost/pwtest'
engine = create_engine(DATABASE_URL, echo=True)

In [25]:
Base = declarative_base()

In [27]:
#define employee table structure
class Employee(Base):
    __tablename__= 'employees'
    id= Column(Integer, primary_key=True, autoincrement=True)
    name=Column(String(50),nullable=False)
    department= Column(String(50), nullable=False)
    sales_amount=Column(Float, nullable=False)

In [29]:
Base.metadata.create_all(engine)

2024-10-18 16:55:04,128 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-10-18 16:55:04,137 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 16:55:04,158 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-10-18 16:55:04,162 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 16:55:04,174 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-10-18 16:55:04,184 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 16:55:04,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 16:55:04,206 INFO sqlalchemy.engine.Engine DESCRIBE `pwtest`.`employees`
2024-10-18 16:55:04,211 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-18 16:55:04,355 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50) NOT NULL,
	department VARCHAR(50) NOT NULL,
	sales_amount FLOAT NOT NULL,
	PRIMARY KEY (id)
)


2024-10-18 16:55:04,362 INFO sqlalchemy.engine.Engine [no key 0.00724s] {}
2024-10-18 16:55:04,781 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
Session = sessionmaker(bind=engine)

In [31]:
with Session() as session:
    #Create employee objects
    employee_1 = Employee(name="Alice Brown",department="Sales",sales_amount=1200.00)
    employee_2 = Employee(name="Bob Clark",department="IT",sales_amount=1700.67)
    session.add_all([employee_1,employee_2])
    session.commit()
    print("Records inserted successfully")

2024-10-18 16:59:10,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 16:59:10,969 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, department, sales_amount) VALUES (%(name)s, %(department)s, %(sales_amount)s)
2024-10-18 16:59:10,977 INFO sqlalchemy.engine.Engine [generated in 0.01055s] {'name': 'Alice Brown', 'department': 'Sales', 'sales_amount': 1200.0}
2024-10-18 16:59:11,012 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, department, sales_amount) VALUES (%(name)s, %(department)s, %(sales_amount)s)
2024-10-18 16:59:11,020 INFO sqlalchemy.engine.Engine [cached since 0.05332s ago] {'name': 'Bob Clark', 'department': 'IT', 'sales_amount': 1700.67}
2024-10-18 16:59:11,037 INFO sqlalchemy.engine.Engine COMMIT
Records inserted successfully

In [33]:
with Session() as session:
    employees = session.query(Employee).all()
    for employee in employees:
        print(f"ID: {employee.id}, Name: {employee.name}, Departments: {employee.department}, Sales Amount: {employee.sales_amount}")

2024-10-18 17:03:31,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 17:03:31,438 INFO sqlalchemy.engine.Engine SELECT employees.id AS employees_id, employees.name AS employees_name, employees.department AS employees_department, employees.sales_amount AS employees_sales_amount
FROM employees
2024-10-18 17:03:31,454 INFO sqlalchemy.engine.Engine [cached since 84.29s ago] {}
ID: 1, Name: Alice Brown, Departments: Sales, Sales Amount: 1200.0
ID: 2, Name: Bob Clark, Departments: IT, Sales Amount: 1700.67
2024-10-18 17:03:31,468 INFO sqlalchemy.engine.Engine ROLLBACK